// Brand colors
$primary:  #e7d117;
$secondary: #b29f93;

// Base colors
$white:  #fff;
$black:  #111;
$gray: #ccc;
$lightGray: #f2f2f2;


// Fonts

$primaryFont: 'Bree Serif', sans-serif;
$secondaryFont: 'Arial', sans-serif;

//
// Project Variables
//

//General
$boxPadding: 16px;
$containerMaxWidth: 1100px;
$boxShadow: 0px 1px 3px rgba(0,0,0,0.16);

//Header
$headerHeight: 60px;

//Hamburguer 
$hamburguerHeight: 2px;
$hamburguerWidth: 25px;
$hamburguerSpace: 7px;

//Footer
$footerHeight: 60px;
//Content
$contentOffset: $footerHeight + $headerHeight;
