.sidebarContent{
    .sidebar__profile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            border-radius: 50%;
            vertical-align: top;
        }
        .profile__user{
            margin-top: 20px;
            background: $lightGray;
            border-top: 1px solid $gray;
            border-bottom: 1px solid $gray;
            width: 100%;
            .user__name{
                padding: 10px 15px;
                p{
                    margin: 0px;
                    font-size: 18px;
                }
            }
        }
    }
    .sidebar__links{
        nav{
            ul{
                padding:0;
                margin:0;
                li{
                    padding: 0px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-bottom: 1px solid $gray;
                    a{
                        padding: 10px 15px;
                        width: 100%;
                        color: $secondary;
                        font-size: 18px;
                        transition: 300ms ease;
                        &:hover{
                            transform: translateX(10px);
                        }
                        &.-accent{
                            background: $primary;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}
