
.sidebarContent{
    .sidebar__avatar{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            border-radius: 50%;
            vertical-align: top;
        }
    }
}
