.listItems{
    &__header{
        display: flex;
        justify-content: center;
        align-items: center;
        background: $primary;
        padding: 10px 15px;
        text-align: center;
        h3{
            color: $white;
            text-transform: uppercase;
            font-size: 26px;
            width: 100%;
        }
        p{
            color: $white;
        }
        //Modifiers
        &.-left{
            text-align: left;
        }
    }

    &__hiddenTopics{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    &__posts{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }
}
