.sidebarContent{
    .sidebar__profile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            border-radius: 50%;
            vertical-align: top;
        }
        .profile__user{
            margin-top: 20px;
            background: $lightGray;
            border-top: 1px solid $gray;
            border-bottom: 1px solid $gray;
            width: 100%;
        }
    }
}
