.btn{
    font-size: 14px;
    padding: 8px 15px;
    margin-right: 10px;
    line-height: 1;
    font-weight: 400;
    background: #f4f4f4 !important;
    color: $black !important;
    transition: 300ms ease;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    &.-accent{
        background: $primary !important;
        color: $white !important;
    }
    &:hover{
        opacity: 0.8;
    }
    &.-loading::before{
        content: '';
        position: absolute;
        left: calc(50% - 20px);
        top: calc(50% - 20px);
        border: 5px solid $primary; 
        border-top: 5px solid $white; 
        border-radius: 50%;
        width: 20px;
        height: 20px;
        animation: spin 2s linear infinite;
    }
}

.btn.follow{
    background: transparent !important;
    border: 1px solid $white !important;
    color: $white !important;
    &:hover{
        background: $white !important;
        color: $black !important;
    }
    &.-accent{
        background: $primary !important;
        color: $white !important;
    }
}

// fix author name
.author-name .btn{
    margin-left: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}