.button{
    font-size: 14px;
    padding: 8px 15px;
    margin-right: 10px;
    line-height: 1;
    font-weight: 400;
    background: #f4f4f4;
    color: #111;
    transition: 300ms ease;
    &.-accent{
        background: #e7d117;
        color: #fff;
    }
    &:hover{
        opacity: 0.8;
    }
}
